= search_form_for @q, url:[:admin, :company, :locations] do |f|
  = f.search_field :name_or_address_street_or_address_city_cont_any, class: 'search-form__input-field search-form__input-field--user', placeholder: 'Search'
  = f.submit '', class: 'button--admin button--search search-form__button search-form__button--search u-background-dark'
