$base-white-color: #FFFFFF;
$base-black-color: #333333;
$base-red-color: #E31D1F;
$base-blue-color: #002A6B;
$base-black-opacity-02-color: rgba(0, 0, 0, 0.2);
$base-dark-gray-color: #E5E9F0;
$base-light-gray-color: #F3F3F3;
$base-black-opacity-03-color: rgba(0, 0, 0, 0.3);
$base-ptv-red-color: #CC0000;
$base-white-opacity-02-color: rgba(255, 255, 255, 0.2);
$color-black: #000000;

$primary-background-color: $base-white-color;
$secondary-background-color: $base-dark-gray-color;

$primary-card-background-color: $base-light-gray-color;
$primary-card-shadow-color: $base-black-opacity-03-color;

$primary-text-color: $base-black-color;
$secondary-text-color: #454545;
$ternary-text-color: #A4A4A4;
$primary-link-color: #4285F4;

$primary-color: $base-blue-color;
$primary-admin-color: $base-ptv-red-color;
$primary-shadow-color: $base-black-opacity-02-color;
