p = t('devise_mailer_reset_password_instructions_title')
  = @resource.email

p = t('devise_mailer_reset_password_instructions_request')
p
  = link_to t('devise_mailer_reset_password_instructions_link'), edit_password_url(@resource, reset_password_token: @token)

p = t('devise_mailer_reset_password_instructions_footer_ignore')
p = t('devise_mailer_reset_password_instructions_footer_description')
